/*PRODUCT*/

$brand-gradient: linear-gradient(90deg, #FC4A1A, #F7B733);
$cancel-gradient: linear-gradient(90deg, #FFF, #FFF);
$brand-color-primary: #F7B733;
$brand-color-secondary: #FC4A1A;

/*BASE*/

$black: #09090B;
$surface-color: #18181B;
$stroke-color: #27272A;
$text-color-primary: #F4F4F5;
$text-color-secondary: #A1A1AA;

$border-radius: 8px;