.justifyContentCenter{
  justify-content: center;
}

.justifyContentEnd{
  justify-content: flex-end;
}

.alignItemsCenter{
  align-items: center;
}

.justifyContetSpaceBetween{
  justify-content: space-between;
}