footer {
  padding: 0 32px 32px;

  .footerInner {
    .col {
      flex-basis: 20%;
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  .footerBottom {
    padding-top: 80px;
  }
}
