header{
  position: absolute;
  width: 100%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  z-index: 100;

  ul{
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

.headerInner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

