#features{
  padding: 64px 32px;

  h2{
    font-size: 3.2rem;
    margin: 16px 0;
  }

  .grid{
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "area1 area2 area2 area3"
    "area4 area4 area5 area5";

    .col{
      background-color: $surface-color;
      padding: 32px;
      border-radius: 2.4rem;
      border: 1px solid $stroke-color;
    }

    .area2{
      background-image: url('../images/experiencia_gamificada.png');
      background-position: 100% 0px;
      background-repeat: no-repeat;
      background-size: 50%;
    }

    .area4{
      background-image: url('../images/comunidade.png');
      background-position: 0% 0%;
      background-repeat: no-repeat;
      background-size: 55%;
      padding-bottom: 84px;
    }

    .area5{
      background-image: url('../images/real_time.png');
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: 50%;
      padding-bottom: 84px;
    }
  }
}