.big-btn{
  padding: 16px 32px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  @include mobile{
    padding: 12px 24px;
  }
}

.medium-btn{
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.small-btn{
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}